
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    @include MQ-tablet2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    & a{
        color: $c-black;
    }

    & ul li:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    & nav ul{
        text-align: center;

        @include MQ-tablet2{
            padding: 3px;
        }

        @include MQ-desktop{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
}

